# Visual Studio files
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.aps
*.ncb
*.opendb
*.cachefile
*.rsuser
*.userosscache
*.sln.docstates

# Build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Distribution directory
dist/

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
